<div class="container">
	<div class="row">
		<button id="btn-new-task" type="button"
			class="btn btn-primary pull-right" (click)="modal.open()">New task</button>
	</div>
	<div class="row">
		<div class="col-xs-3 row-title">Tasks</div>
		<div class="col-xs-3 row-title">In progress</div>
		<div class="col-xs-3 row-title">To verify</div>
		<div class="col-xs-3 row-title">Done</div>
	</div>
	<story-definition *ngFor="#story of stories" [data]="story">

		<div class="row">
			<div class="col-xs-12 story-definition">{{story.title}}</div>
		</div>

		<div class="row row-eq-height">
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="todo">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'todo')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="inprogress">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'inprogress')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="toverify">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'toverify')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="done">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'done')" [task]="task" id={{task.id}}></task-details>
			</div>
		</div>
	</story-definition>
</div>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </modal-header>
    <modal-body>
        Hello World!
    </modal-body>
    <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>