<div class="container">

    <task-editor [stories]="stories"></task-editor>

	<div class="row">
		<div class="col-xs-3 row-title">Tasks</div>
		<div class="col-xs-3 row-title">In progress</div>
		<div class="col-xs-3 row-title">To verify</div>
		<div class="col-xs-3 row-title">Done</div>
	</div>
	<story-definition *ngFor="#story of stories" [data]="story">

		<div class="row">
			<div class="col-xs-12 story-definition">{{story.title}}</div>
		</div>

		<div class="row row-eq-height">
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="todo">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'todo')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="inprogress">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'inprogress')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="toverify">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'toverify')" [task]="task" id={{task.id}}></task-details>
			</div>
			<div class="col-xs-3 tasks-column" [dragula]='"first-story"' id="done">
				<task-details *ngFor="#task of (story.tasks | statusFilter:'done')" [task]="task" id={{task.id}}></task-details>
			</div>
		</div>
	</story-definition>
</div>
